.main{
      display: flex;
      width:100%;
      flex-direction: row;
      height: 100%;
      padding: 1%;
      margin: 1%;
      border:2px solid black ;
    }
    .profile{
      text-align: center;
    }
    .ali{
      text-align:center;
    }
    .part1{
      border:2px solid blue;
      margin-right: 5px;
      width: 40%;
    }
    .part2{
      border: 2px solid blue;
      width:60%;

    }
    .academic{
      text-align: center;
      background-color: grey;
      color: white;
    }
    table{
      margin:3px;
    }
      table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            
          }
          th,td{
            padding:10px;
          }
         th{
          text-align: center
         }
    .address{
      text-decoration: underline;
    }